*{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/*********HEADER*******/
header{
    display: grid;
    grid-template-columns: 24px auto 44;
    padding: 5px 0 5px 10px;
}

header img{
    display: block;
    width: 100%;
    height: auto;

}
